<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <section class="bitBanner" id="bitBanner" bitdatamarker="bitBanner"
             bitdataaction="site_fix_container">
        <div id="rev-slider-widget-4" style=""
             class="bitImageControlDiv bitBanner widget_revslider site_tooler">
            <!-- START REVOLUTION SLIDER 4.1.4 fullwidth mode -->
            <style type="text/css" id="bit_revsider_style">
                @media screen and (min-width: 768px) {
                    #rev_slider_7_1_wrapper {
                        height: 650px;
                    }

                }

                #rev_slider_7_1_wrapper .tparrows.new1 {
                    background: none;
                    background-color: rgba(175, 175, 175, 0.1);
                    color: #ffffff;
                }

                #rev_slider_7_1_wrapper .tparrows.new1:hover {
                    background-color: rgba(175, 175, 175, 0.1);
                    color: #ffffff;
                }

                #rev_slider_7_1_wrapper .tparrows {
                    width: 100px;
                    height: 100px;
                }

                #rev_slider_7_1_wrapper .tparrows:before {
                    font-size: 50px;
                    top: 22px;
                }

                #rev_slider_7_1_wrapper .tparrows.tp-leftarrow:before {
                    right: 3px;
                }

                #rev_slider_7_1_wrapper .tparrows.tp-rightarrow:before {
                    left: 3px;
                }

                @media screen and (max-width: 768px) {
                    #rev_slider_7_1_wrapper .tp-bullets {
                        display: none !important;
                    }

                    #rev_slider_7_1_wrapper .tparrows {
                        display: none !important;
                    }

                    #rev_slider_7_1_wrapper .tparrows {
                        height: 40px;
                        width: 40px;
                    }

                    #rev_slider_7_1_wrapper .tparrows:before {
                        top: 10px;
                        font-size: 15px;
                    }
                }
            </style>

            <div id="rev_slider_7_1_wrapper"
                 bitdataaction="site_slider_container" bitdatalocation="7"
                 bidatanonce="4ec29db048"
                 class="rev_slider_wrapper   fullwidthbanner-container"
                 style="margin: 0px auto; background-color: rgb(233, 233, 233); padding: 0px; max-height: none; overflow: visible; height: 741px;">
                <div id="rev_slider_7_1"
                     class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive"
                     style="max-height: none; height: 741px;">
                    <ul data-height="650" data-mobileheight="300"
                        style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
                        <!-- SLIDE  -->
                        <li class="bitSliderLi" data-slideid="26"
                            data-transition="slidehorizontal"
                            data-slotamount="7" data-masterspeed="600"
                            style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1; position: absolute;">
                            <!-- MAIN IMAGE -->
                            <div class="slotholder"
                                 style="width:100%;height:100%;"
                                 data-duration="undefined"
                                 data-zoomstart="undefined"
                                 data-zoomend="undefined"
                                 data-rotationstart="undefined"
                                 data-rotationend="undefined"
                                 data-ease="undefined"
                                 data-bgpositionend="undefined"
                                 data-bgposition="center top"
                                 data-kenburns="undefined"
                                 data-easeme="undefined" data-bgfit="cover"
                                 data-bgfitend="undefined"
                                 data-owidth="undefined"
                                 data-oheight="undefined">
                                <div class="tp-bgimg defaultimg"
                                     data-lazyload="https://54d4a4629fb6b.t73.qifeiye.com/qfy-content/uploads/2015/06/27f237e6b7f96587b6202ff3607ad88a.jpg"
                                     data-bgfit="cover"
                                     data-bgposition="center top"
                                     data-bgrepeat="no-repeat"
                                     data-lazydone="undefined"
                                     data-src="https://ccdn.goodq.top/caches/569b046fc16663a994ea33d5a2a60b54/aHR0cHM6Ly81NGQ0YTQ2MjlmYjZiLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC9wbHVnaW5zL3JldnNsaWRlci9pbWFnZXMvZHVtbXkucG5n.png"
                                     style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://54d4a4629fb6b.t73.qifeiye.com/qfy-content/uploads/2015/06/27f237e6b7f96587b6202ff3607ad88a.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1;"></div>
                            </div>
                            <!-- LAYERS -->
                        </li>
                        <!-- SLIDE  -->
                        <li class="bitSliderLi" data-slideid="25"
                            data-transition="slidehorizontal"
                            data-slotamount="7" data-masterspeed="600"
                            style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1; position: absolute;">
                            <!-- MAIN IMAGE -->
                            <div class="slotholder"
                                 style="width:100%;height:100%;"
                                 data-duration="undefined"
                                 data-zoomstart="undefined"
                                 data-zoomend="undefined"
                                 data-rotationstart="undefined"
                                 data-rotationend="undefined"
                                 data-ease="undefined"
                                 data-bgpositionend="undefined"
                                 data-bgposition="center top"
                                 data-kenburns="undefined"
                                 data-easeme="undefined" data-bgfit="cover"
                                 data-bgfitend="undefined"
                                 data-owidth="undefined"
                                 data-oheight="undefined">
                                <div class="tp-bgimg defaultimg"
                                     data-lazyload="https://54d4a4629fb6b.t73.qifeiye.com/qfy-content/uploads/2015/06/27f237e6b7f96587b6202ff3607ad88a.jpg"
                                     data-bgfit="cover"
                                     data-bgposition="center top"
                                     data-bgrepeat="no-repeat"
                                     data-lazydone="undefined"
                                     data-src="https://ccdn.goodq.top/caches/569b046fc16663a994ea33d5a2a60b54/aHR0cHM6Ly81NGQ0YTQ2MjlmYjZiLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC9wbHVnaW5zL3JldnNsaWRlci9pbWFnZXMvZHVtbXkucG5n.png"
                                     style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://54d4a4629fb6b.t73.qifeiye.com/qfy-content/uploads/2015/06/27f237e6b7f96587b6202ff3607ad88a.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 0;"></div>
                            </div>
                            <!-- LAYERS -->
                        </li>
                        <!-- SLIDE  -->
                        <li class="bitSliderLi" data-slideid="24"
                            data-transition="slidehorizontal"
                            data-slotamount="7" data-masterspeed="600"
                            style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1; position: absolute;">
                            <!-- MAIN IMAGE -->
                            <div class="slotholder"
                                 style="width:100%;height:100%;"
                                 data-duration="undefined"
                                 data-zoomstart="undefined"
                                 data-zoomend="undefined"
                                 data-rotationstart="undefined"
                                 data-rotationend="undefined"
                                 data-ease="undefined"
                                 data-bgpositionend="undefined"
                                 data-bgposition="center top"
                                 data-kenburns="undefined"
                                 data-easeme="undefined" data-bgfit="cover"
                                 data-bgfitend="undefined"
                                 data-owidth="undefined"
                                 data-oheight="undefined">
                                <div class="tp-bgimg defaultimg"
                                     data-lazyload="https://54d4a4629fb6b.t73.qifeiye.com/qfy-content/uploads/2015/06/6593d7b12fd418cdb35bbf438de72f66.jpg"
                                     data-bgfit="cover"
                                     data-bgposition="center top"
                                     data-bgrepeat="no-repeat"
                                     data-lazydone="undefined"
                                     data-src="https://ccdn.goodq.top/caches/569b046fc16663a994ea33d5a2a60b54/aHR0cHM6Ly81NGQ0YTQ2MjlmYjZiLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC9wbHVnaW5zL3JldnNsaWRlci9pbWFnZXMvZHVtbXkucG5n.png"
                                     style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://54d4a4629fb6b.t73.qifeiye.com/qfy-content/uploads/2015/06/6593d7b12fd418cdb35bbf438de72f66.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 0;"></div>
                            </div>
                            <!-- LAYERS -->
                        </li>
                    </ul>
                    <div class="tp-loader"
                         style="display: none; opacity: 0;"></div>
                    <div class="tp-bannertimer"
                         style="visibility: hidden; width: 38.7303%; overflow: hidden;"></div>
                </div>
                <div class="tp-bullets simplebullets round hidebullets"
                     style="bottom: 20px; left: 50%; margin-left: -36px;">
                    <div class="bullet first selected"></div>
                    <div class="bullet"></div>
                    <div class="bullet last"></div>
                    <div class="tpclear"></div>
                </div>
                <div style="position: absolute; top: 50%; margin-top: -50px; left: 20px;"
                     class="tp-leftarrow tparrows new1 hidearrows"></div>
                <div style="position: absolute; top: 50%; margin-top: -50px; right: 20px;"
                     class="tp-rightarrow tparrows new1 hidearrows"></div>
            </div>
            <script type="text/javascript" id="bit_revsider"
                    data-sliderid="7">
                var revapi7_param = {
                    hideTimerBar: "on",
                    simplifyAll: "on",
                    dottedOverlay: "none",
                    delay: 9000,
                    startwidth: 1263,
                    startheight: 650,
                    hideThumbs: 200,

                    thumbWidth: 100,
                    thumbHeight: 50,
                    thumbAmount: 3,

                    navigationType: "bullet",
                    navigationArrows: "solo",
                    navigationStyle: "round",
                    touchenabled: "on",
                    onHoverStop: "on",

                    navigationHAlign: "center",
                    navigationVAlign: "bottom",
                    navigationHOffset: 0,
                    navigationVOffset: 20,

                    soloArrowLeftHalign: "left",
                    soloArrowLeftValign: "center",
                    soloArrowLeftHOffset: 20,
                    soloArrowLeftVOffset: 0,

                    soloArrowRightHalign: "right",
                    soloArrowRightValign: "center",
                    soloArrowRightHOffset: 20,
                    soloArrowRightVOffset: 0,

                    navigation_arrows_style: 'new1',

                    shadow: 0,
                    fullWidth: "on",
                    fullScreen: "off",

                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,


                    shuffle: "off",

                    autoHeight: "on",
                    forceFullWidth: "off",


                    hideThumbsOnMobile: "off",
                    hideBulletsOnMobile: "off",
                    hideArrowsOnMobile: "off",
                    hideThumbsUnderResolution: 0,

                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    startWithSlide: 0,
                    videoJsPath: "https://54d4a4629fb6b.t73.qifeiye.com/qfy-content/plugins/revslider/rs-plugin/videojs/",
                    fullScreenOffsetContainer: ""
                }
            </script>
            <script type="text/javascript">

                var tpj = jQuery;
                tpj.noConflict();
                var revapi7;

                function run_revApi() {
                    if (tpj('#rev_slider_7_1').revolution == undefined)
                        revslider_showDoubleJqueryError('#rev_slider_7_1');
                    else {

                        revapi7 = tpj('#rev_slider_7_1').show().revolution(revapi7_param);
                    }
                }

                tpj(document).ready(function () {
                    if ("off" == "on" && top != self) {
                        setTimeout("run_revApi()", 300);
                    } else {
                        run_revApi();
                    }

                });	//ready

            </script>

            <!-- END REVOLUTION SLIDER --></div>
    </section>

</body>
</html>