{% extends 'base.html' %}

{% block page_top %}
    <div class="page_top">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Qearl's Blog
        </p>
    </div>
{% endblock %}
{% block content %}
    <div class="container container-pos">
        {#    <div class="content"><a href="{{ url_for('qearl.create') }}">创建</a></div>#}
        <div class="content">
            <div class="content-left">
                <div class="blog-block">
                    <h4 class="blog-block-title">关于我</h4>
                    <p>Haha！大家好，我，就是人见人爱，花见花开的元气少女朵儿。</p>
                </div>
                <div class="blog-block">
                    <h4 class="blog-block-title">近期文章</h4>
                    {% for blog in blog_list[:5] %}
                        <p>{{ blog.title }}</p>
                    {% endfor %}
                </div>
                <div class="blog-block">
                    <h4 class="blog-block-title">标签</h4>
                    <p>Openstack, Python, Linux</p>
                </div>
                <div class="blog-block">
                    <h4 class="blog-block-title">分类</h4>
                    <p>Python</p>
                    <p>数据库</p>
                </div>
                <div class="blog-block">
                    <h4 class="blog-block-title">归档</h4>
                    <p>Haha！大家好，我，就是人见人爱，花见花开的元气少女朵儿。</p>
                </div>
            </div>
            <div class="content-body">
                {% for blog in blog_list %}
                    <div class="pos-block">
                        <div class="pos-date">
                            {{ blog.created_at }}
                        </div>
                        <div class="pos-title">
                            <a href="{{ url_for('qearl.show', blog_id=blog.id) }}">{{ blog.title }}</a>
                        </div>
                        <div>
                            {% if blog.body|length  > 20 %}
                            {{ blog.title }}
{#                            {{ blog.body[:26] | safe }}#}

                            {% else %}
                            {{ blog.body | safe }}
                            {% endif %}

                        </div>

                    </div>
                {% endfor %}
               {% if g.user %}
                    <a href="{{ url_for('qearl.create') }}">添加新文章</a>
                {% endif %}

            </div>

        </div>
    </div>

{% endblock %}